<div class="login-button">
    <p>
        {% if user.is_authenticated %}
        ようこそ{{ user }}様
        <a href="{% url 'top' %}"><button type="button">マイページ</button></a>
        <a href="{% url 'customer_logout' %}"><button typee="button">ログアウト</button></a>
        {% else %}
        ようこそゲスト様
        <a href="{% url 'customer_login' %}"><button type="button">ログイン</button></a>
        <a href="{% url 'customer_signup' %}"><button type="button">新規アカウント作成</button></a>
        {% endif %}
    </p>
</div>