{% extends "account/base.html" %}
{% load icons %}
{% load static %}
{% block page_title %}LOGIN PAGE{% endblock %}
{% block account_content %}
<div class="card">
    <div class="card-body">
        Name: {{ user }}様
        <hr>
        <table class="table table-bordered">
            {% for v in stamp_frames %}
            <tr class="stamp_frame">
                {% for h in v %}
                <td>
                    {% if h %}
                    {% icon 'star' %}
                    {{ h.stamped_at|date:"m/d" }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <hr>
        <p>ご来店１回につき、１枠捺印致します。（お会計金額2,000円以上）</p>
    </div>
</div>
{% endblock %}