{% extends "hairsalon/base.html" %}
{% load static %}
{% block page_title %}LOGIN PAGE{% endblock %}
{% block content %}
<div id="wrapper">
    <form method="post" action="{% url 'customer_signup' %}">
        <div class="col-md-6 offset-md-3">
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field }}
                {{ field.errors }}
                <hr>
            {% endfor %}
            <button type="submit" class="btn btn-info btn-lg btn-block" >アカウント作成</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
        </div>
    </form>
</div>
{% endblock %}