{% extends "hairsalon/base.html" %}
{% load static %}
{% block page_title %}LOGIN PAGE{% endblock %}
{% block content %}
<div id="wrapper">
    <section id="main">
        <div class="col-md-10 offset-md-0">
            {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            </div>
            <hr>
            {% endif %}

            {% block account_content %}
            {% endblock %}

        </div>
    </section>
    <aside id="sidebar">
        <section>
            <h3>会員メニュー</h3>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'pointcard' %}">ポイントカード</a></li>
                <li><a href="{% url 'account_email' %}">メールアドレス登録・変更</a></li>
                <li><a href="{% url 'account_change_password' %}">パスワード変更</a></li>
                <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">ログイン</a></li>
                <li><a href="{% url 'account_signup' %}">新規アカウント作成</a></li>
                <li><a href="{% url 'account_reset_password' %}">パスワードをお忘れの方</a></li>
                {% endif %}
            </ul>
        </section>
    </aside>
</div>

{% block extra_body %}
{% endblock %}

{% endblock %}
