{% extends "account/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_content %}
    <h1 style="font-size:8vw;">{% trans "Change Password" %}</h1>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" name="action" class="btn btn-warning btn-lg btn-block">
            {% trans "Change Password" %}
        </button>
        {% endbuttons %}
        <hr>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
