<div id="stylists">
{% for stylist in stylists %}
    <div class="container p-sm-5 mb-3">
        <div class="row">
          <div class="col-md-auto">
            <img src="{{ stylist.image.url }}" width="300em"/>
          </div>
          <div class="col">
            <h4>
                {% if stylist.is_owner %}代表　{% endif %}
                {{ stylist.get_full_name }}（仮名）
            </h4>
            <hr>
            <div class="staff-message">
              {{ stylist.message | linebreaksbr }}
            </div>
          </div>
        </div>
    </div>
{% endfor %}
</div>