{% load static %}
<div id="top">
    <div id="mainBanner">
        <img src="{% static 'media/home.png' %}"/>
    </div>
    <div class="mb-5">
        {% include 'hairsalon/components/pages/greeting.html' %}
    </div>
    {% if news %}
    <div class="mb-5">
        {% include 'hairsalon/components/pages/news.html' %}
    </div>
    {% endif %}
    <div class="mb-5">
        {% include 'hairsalon/components/map.html' %}
    </div>
    <div class="mb-5">
        {% include 'hairsalon/components/salon_data.html' %}
    </div>
</div>