body{
    color:#555;
    font-size:13px;
    font-family:verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

/* リンク設定
------------------------------------------------------------*/
a{color:#6caefe;text-decoration:none;}
a:hover{color:#488fdd;}
a:active, a:focus {outline:0;}

/*************
/* ヘッダー
*************/
#header{
    height:160px;
}

/*************
/* ロゴ
*************/
.logo{
    float:left;
}

.logo a{
    color:#555;
}

.logo span{
    display:block;
    margin-top:6px;
}

/*************
/* 電話番号
*************/
.info{
    float:right;
    padding-right:20px;
    text-align:right;
}

.info .open{
    font-size:11px;
}

/*************
/* ロゴ+電話番号
*************/
.logo,.info .tel{
    margin:10px 0 6px 0;
    font-size:26px;
    font-weight:bold;
}

.logo span,.info span{
    font-size:.6em;
    font-weight:normal;
}

/*************
/* ログインボタン
*************/
.account-menu-navi {
    padding:10px 20px 0 0;
    text-align:right;
}

.welcome-message {
    font-size:15px;
    vertical-align: middle;
    padding-right:10px;
}

/* PC用
------------------------------------------------------------*/
/*************
/* 中央寄せ
*************/
#header, #wrapper, .inner {
	width:960px;
	padding:0;
	margin:0 auto;
}

#wrapper{
    clear:both;
    padding:20px 0;
}

nav div.panel{
	// display:block !important;
	// float:left;
}

a#menu{display:none;}

#mainNav{
	// clear:both;
	// z-index:200;
	// position:relative;
}

#mainNav li{
	float:left;
	// position:relative;
}

#mainNav li a{
	color:#555;
	display: block;
	text-align: center;
	_float:left;
	font-size:13px;
	width:160px;
	padding:15px 0;
	border-top:2px solid #ebebeb;
	border-bottom:2px solid #ebebeb;
}

#mainNav li a span, #mainNav li a strong{
    display:block;
}

#mainNav li a span{
	color:#bababa;
	font-size:10px;
}

// #mainNav ul ul{width:160px;background:#fff;}

#mainNav li ul{
    display:none;
}

#mainNav li.current-menu-item a{
	border-color:#555;
}

#mainNav li.current-menu-item a,#mainNav li a:hover,#mainNav li.current-menu-item li a:hover{
	color:#999;
}

/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
    clear:both;
    margin:25px auto 40px;
    padding:0;
    position:relative;
    text-align:center;
}

#mainBanner img{
    max-width:100%;
    height:auto;
}

/*************
メイン コンテンツ
*************/
#main{
	float:right;
	width:680px;
	padding:15px 0 30px 0;
}

/*************
/* サイドバー
*************/
#sidebar{
	float:left;
	width:250px;
	padding:15px 0;
	overflow:hidden;
}

#sidebar ul{padding:15px 0;}

#sidebar li{
    margin-bottom:10px;
    padding-bottom:10px;
    list-style:none;
    border-bottom:1px dashed #ebebeb;
}

#sidebar li:last-child{
    border:0;
    margin-bottom:0px;
}

#sidebar li a{
    color:#555;
    font-size:12px;
    display:block;
}

#sidebar li a:hover{
    color:#999;
    font-size:12px;
    display:block;
}

/*************
/* フッター
*************/

/* floatをかけた要素に続く要素の回り込みを解消する */
#footer{
    clear:both;
}

#footer .inner{
    // padding:40px 0;
    // overflow:hidden;
}

#footer #info{
    float:left;
}

#footer #info .info{
    float:none;
}

#footer #info .info{
    clear:both;
    padding:5px 0 0;
    text-align:left;
}

#footer .logo{
    font-size:18px;
}

#footer .info .tel,#footer .info .tel span,#footer #info .open{
    font-size:12px;
}

ul.footnav{
    float:right;
    width:620px;
    padding:10px 0;
}

ul.footnav li{
    float:left;
    margin:10px 0 10px 0;
    padding:0 7px 0 8px;
    border-right:1px solid #ebebeb;
}

/*************
/* お知らせ一覧
*************/

.topInfo_box span.info {
    width: 90px;
    background: #ffc000;
    text-align: center;
    line-height: 24px;
    margin-left: 20px;
    padding-right: 0;
}

.topInfo_box span.title {
    line-height: 24px;
    margin-left: 20px;
    padding-right: 0;
}

.topInfo_box span {
  display: inline-block;
}


tr.stamp_frame {
   line-height: 50px;
   min-height: 50px;
   height: 50px;
}

/*************
/* 並んだボタン
*************/

.button-lined {
    display: block;
    float: right;
}