body{
    color:#555;
    font-size:13px;
    font-family:verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

/* リンク設定
------------------------------------------------------------*/
a{color:#6caefe;text-decoration:none;}
a:hover{color:#488fdd;}
a:active, a:focus {outline:0;}

/*************
/* ロゴ
*************/
.logo a{
    color:#555;
}

/*************
/* 電話番号
*************/
.info .open{
    font-size:11px;
}

/*************
/* ロゴ+電話番号
*************/
.logo,.info .tel{
    margin:10px 0 6px 0;
    font-size:26px;
    font-weight:bold;
}

.logo span,.info span{
    font-size:.6em;
    font-weight:normal;
}

/*************
/* ログインボタン
*************/
.welcome-message {
    font-size: 15px;
    vertical-align: middle;
}

/* PC用
------------------------------------------------------------*/
@media only screen and (min-width:960px) {

    #header, #wrapper, .inner {
        width: 960px;
        padding: 0;
        margin: 0 auto;
    }

    #header{
        height: 180px;
    }

    .info{
        float: right;
        text-align: right;
    }

    /*************
    /* メインナビメニュー
    **************/

    header#header #mainNav {
        display: none;
    }

    #mainNav li{
        float:left;
    }

    #mainNav li a{
        color:#555;
        display: block;
        text-align: center;
        _float:left;
        font-size:13px;
        width:160px;
        padding:15px 0;
        border-top:2px solid #ebebeb;
        border-bottom:2px solid #ebebeb;
    }

    #mainNav li a span, #mainNav li a strong{
        display:block;
    }

    #mainNav li a span{
        color:#bababa;
        font-size:10px;
    }

    /*  #mainNav ul ul{width:160px;background:#fff;} */

    #mainNav li ul{
        display:none;
    }

    #mainNav li.current-menu-item a{
        border-color:#555;
    }

    #mainNav li.current-menu-item a,#mainNav li a:hover,#mainNav li.current-menu-item li a:hover{
        color:#999;
    }

    /*************
    /* フッター
    *************/

    #footer #info{
        float:left;
    }

    #footer #info .row {
        display: block !important;
    }

    #footer #info .info{
        text-align: left;
    }

    ul.footnav{
        float: right;
        width: 620px;
    }

    ul.footnav li {
        float: left;
        border-right: 1px solid #ebebeb;
    }

    /*************************
    /* 会員ページ　メインコンテンツ
    **************************/
    #main{
        width:680px;
    }

    /********************
    /* 会員ページ　サイドバー
    *********************/
    #sidebar{
        width:250px;
    }

    nav#accountNav.navbar ,nav#accountNav ul.navbar-nav {
        display: block;
    }
}

@media only screen and (max-width:959px){

    body {
        text-align: center;
    }

    h1.responsive-font-size-for-h1 {
        font-size:8vw;
    }

    /*************
    /* メインナビメニュー
    *************/

    #mainNav ul{padding:15px 0;}

    #mainNav li{
        margin-bottom:10px;
        padding-bottom:10px;
        list-style:none;
        border-bottom:1px dashed #ebebeb;
    }

    #mainNav li:last-child{
        border:0;
        margin-bottom:0px;
    }

    #mainNav li a{
        color:#555;
        font-size:12px;
        display:block;
    }

    #mainNav li a:hover{
        color:#999;
        font-size:12px;
        display:block;
    }

    #accountNav.navbar {
        justify-content: start;
        padding: 0;
    }

    #main{
        text-align: left;
    }

    .full-screen-nav {
        display: none;
    }

    ul.footnav {
        display: none;
    }

}

#wrapper{
    clear:both;
    padding:20px 0;
}

/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
    clear:both;
    margin:25px auto 40px;
    padding:0;
    position:relative;
    text-align:center;
}

#mainBanner img{
    max-width:100%;
    height:auto;
}

/*************
/* 会員画面　サイドバー
*************/

#sidebar ul{padding:15px 0;}

#sidebar li{
    margin-bottom:10px;
    padding-bottom:10px;
    list-style:none;
    border-bottom:1px dashed #ebebeb;
}

#sidebar li:last-child{
    border:0;
    margin-bottom:0px;
}

#sidebar li a{
    color:#555;
    font-size:12px;
    display:block;
}

#sidebar li a:hover{
    color:#999;
    font-size:12px;
    display:block;
}

/*************
/* フッター
*************/

/* floatをかけた要素に続く要素の回り込みを解消する */
#footer{
    clear:both;
}

#footer .logo{
    font-size:18px;
}

#footer .info .tel,#footer .info .tel span,#footer #info .open{
    font-size:12px;
}

#footer a{
    color: #555;
}

/*********************
/* line-heightの設定周り
*********************/

.staff-message {
    font-size: 14px;
    line-height: 200%;
}

.menu-category {
    font-size: 20px;
    line-height: 200%;
}

/*************
/* お知らせ一覧
*************/

.topInfo_box span.info {
    width: 90px;
    background: #ffc000;
    text-align: center;
    line-height: 24px;
    margin-left: 20px;
    padding-right: 0;
}

.topInfo_box span.title {
    line-height: 24px;
    margin-left: 20px;
    padding-right: 0;
}

.topInfo_box span {
  display: inline-block;
}

table.stamp-table {
    table-layout: fixed;
}

tr.frame-line {
  height: 5em;
}

td.stamp-frame {
    text-align: center;
    vertical-align: middle;
}

/*************
/* サロンデータテーブル
*************/

#salondata table{
    border-collapse:collapse;
    margin:5px auto 15px auto;
    width: 100%;
}

#salondata table td{
    border-collapse:collapse;
    background-color:#F9F9F9;
    text-align:left;
    padding:8px;
    border:1px solid #D6D6D6;
    line-height:20px;
}

#salondata table th{
    background-color:#F5F5F5;
    text-align:right;
    padding:8px;
    white-space:nowrap;
    color: #151515;
    border-top:1px solid #D4D4D4;
    border-right:4px solid #D4D4D4;
    border-bottom:1px solid #D4D4D4;
    border-left:1px solid #D4D4D4;
    font-size:13px;
    font-weight:normal;
    letter-spacing:1px;
    background-repeat:repeat-x;
    background-position:top;
}

/*************
/* 並んだボタン
*************/

.button-lined {
    display: block;
    float: right;
}

/*************
/* icon
*************/

.stamp-color {
    color: #fecb81;
}

.fa-stack-1x {
    font-size: 0.6em;
}

.fa-stack-2x {
    font-size: 5em;
}