<footer id="footer">
    <div class="inner">
        <hr />
        <div id="info" class="grid">
            {% include 'hairsalon/components/logo.html' %}
        </div>
        <div class="menu">
            <ul class="footnav">
                <li><a href="{% url 'top' %}">トップページ</a></li>
                <li><a href="">ごあいさつ</a></li>
                <li><a href="">メニュー</a></li>
                <li><a href="">スタイリスト</a></li>
                <li><a href="">お知らせ</a></li>
                <li><a href="">地図</a></li>
            </ul>
        </div>
    </div>
</footer>