<footer id="footer">
    <hr />
    <div id="info" class="grid">
        {% include 'hairsalon/components/logo.html' %}
    </div>
    <div class="menu">
        <ul class="footnav px-3">
            <li class="my-3 px-3">
                <a href="{% url 'top' %}">
                    トップページ
                </a>
            </li>
            <li class="my-3 px-3">
                <a href="{% url 'greeting' %}">
                    ごあいさつ
                </a>
            </li>
            <li class="my-3 px-3">
                <a href="{% url 'menu' %}">
                    メニュー
                </a>
            </li>
            <li class="my-3 px-3">
                <a href="{% url 'stylist' %}">
                    スタイリスト
                </a>
            </li>
            <li class="my-3 px-3">
                <a href="{% url 'news' %}">
                    お知らせ
                </a>
            </li>
            <li class="my-3 px-3">
                <a href="{% url 'map' %}">
                    地図
                </a>
            </li>
        </ul>
    </div>
</footer>