<h2>お知らせ</h2>
<hr>
<div class="topInfo_box">
    <ul>
        {% for news_detail in news.all %}
        <li>
            <p>
            <span>{{ news_detail.published | date:"Y-m-d" }}
                <span class="info">お知らせ</span>
            </span>
            <span class="title">
                <a href="{% url 'news_detail' news_detail.id %}">
                    {{ news_detail.title }}
                </a>
            </span>
            </p>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>