<div id="salondata">
    <h3 style="font-size:8vw;">サロンデータ</h3>
    <hr>
    <table>
        <tr>
            <th>電話番号</th>
            <td>000-000-0000</td>
        </tr>
        <tr>
            <th>住所</th>
            <td></td>
        </tr>
        <tr>
            <th>アクセス・道案内</th>
            <td></td>
        </tr>
        <tr>
            <th>営業時間</th>
            <td>9:00～20:00※遅い時間帯でも、お気軽にご相談下さい♪</td>
        </tr>
        <tr>
            <th>定休日</th>
            <td>木曜日,第３水曜日</td>
        </tr>
        <tr>
            <th>支払い方法</th>
            <td>VISA／MasterCard／JCB／American Express／Diners／Discover／交通系電子マネー、iD,PayPay,その他</td>
        </tr>
        <tr>
            <th>備考</th>
            <td>ロング料金なし</td>
        </tr>
    </table>
</div>