{% extends "hairsalon/base.html" %}
{% load static %}
{% block page_title %}TOP PAGE{% endblock %}
{% block content %}
<div id="wrapper">
    <div id="mainBanner">
        <img src="{% static 'media/home.png' %}"/>
    </div>
    <div class="toppage-items">
        {% include 'hairsalon/components/greeting.html' %}
    </div>
    {% if news %}
    <div class="toppage-items">
        {% include 'hairsalon/components/news.html' %}
    </div>
    {% endif %}
    <div class="toppage-items">
        {% include 'hairsalon/components/map.html' %}
    </div>
    <div class="toppage-items">
        {% include 'hairsalon/components/salon_data.html' %}
    </div>
</div>
{% endblock %}